/* Import all relevant .less files here by adding: ' @import "FILE"; ' */

/* Custom Fonts */
@font-face {
  font-family: "Futura";
  src: url("fonts/Futura.woff");
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Light.ttf");
}

/* Main variables - Colors and Fonts */
@main-color: #255d9c;
@main-font: "Futura";
@alternative-font: "OpenSans";

#side-menu {
  height: 100vh;
  width: inherit;

  .header.item {
    color: @main-color;
    padding-top: 2em;
    padding-bottom: 3em;
  }
}

/* CSS */
/**
* {
  font-family: @main-font, @alternative-font, Arial, sans-serif;
  font-size: @main-font-size;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
}

nav {
  background-color: @main-color;
  color: white;
  height: 100%;
  width: 15%;
  h2 {
    padding: 1em;
    width: 50%;
    margin: 0 auto;
  }
}*/
